<div id="leftContainer"><div>
	&nbsp;
</div></div>

<div id="rightContainer"><div>
	<div id="tabs">
		<ul>
			<li>Schedule</li>
			<li>Charts</li>
		</ul>
	</div>
	<div id="rightContent">asd
	</div>
</div></div>

<div id="middleContainer"><div>
	<div style="padding:20px;">
		<table style="width:100%;"><tr>
			<td>
				<div id="addFolderViewContainer"></div>
			</td><td style="text-align:right;width:1%;white-space:nowrap;">
				<input type="button" value="Add Project">
				<input type="button" value="Clear Completed">
			</td>
		</tr></table>
	</div>
	<ul id="foldersContainer"></ul>
</div></div>

<script>
Backbone.Model.prototype.idAttribute = "_id";
var app = {};
$(function() {
	app.addFolderView = new AddFolderView;
	app.folders = new FoldersCollection();
	app.folders.reset(<%= raw @result.to_json %>);
	createCookie('timezoneOffset',getTimeZoneOffsetDST(),10);
});
</script>


<script id="addFolderViewTemplate" type="text/html">
	<div>
		<input type="text" placeholder="Add Project" id="addFolderInput">
	</div>
</script>


<script id="containerViewTemplate" type="text/html">
	<div class="container"></div>
	<ul class="tasks"{{^openFolder}} style="display:none;"{{/openFolder}}></ul>
</script>


<script id="folderViewTemplate" type="text/html">
		<table style="width:100%">
			<tr>
				<td>
					<table style="width:100%;">
						<tr>
							<td style="vertical-align:top;width:25px;">
								<icon class="button {{#openFolder}}openFolderIcon{{/openFolder}}{{^openFolder}}closedFolderIcon{{/openFolder}}"></icon>
							</td>
							<td>
								<div class="nameField">{{name}}</div>
								<div class="nameFieldEdit" style="display:none;"><textarea style="width:100%;" rows="1">{{name}}</textarea><div>
							</td>
						</tr>
					</table>
				</td>
				<td style="text-align:right;vertical-align:top;width:40px;">
					<icon class="plusIcon button"></icon>
					<icon class="trashIcon button"></icon>
				</td>
			</tr>
		</table>
</script>


<script id="taskViewTemplate" type="text/html">
	<table style="width:100%">
			<tr>
				<td>
					<div class="nameField">{{name}}</div>
					<div class="nameFieldEdit" style="display:none;"><textarea style="width:100%;" rows="1">{{name}}</textarea><div>
				</td>
				<td style="text-align:right;vertical-align:top;width:40px;">
					<icon class="plusIcon button"></icon>
					<icon class="trashIcon button"></icon>
				</td>
			</tr>
		</table>
</script>