<div class="userForm">
	<%= form_for @user do |f| %>
		<%= f.check_box :emailReminders %>
		<%= f.label "Email Reminders" %><br>
		<span style="color:#888;">Send me an email in the morning containing tasks due that day.</span><br>
		<br>
		<%= f.submit 'Save Settings' %>
	<% end %>
	<br><br>
</div>