@import "variables";

#addFolderViewContainer {

	input {
		width:100%;
		padding:4px;
		color:#555;
		-webkit-border-radius: 3px;
		-moz-border-radius:  3px;
		border-radius:3px;
		border: 1px solid #999;
	}

	padding: 0px;
}