@import "variables";

#tabs {
	ul {
		padding:0;margin:0;border:0;
		li {
			list-style: none;
			display:inline-block;
			border-top-left-radius:4px;
			border-top-right-radius:4px;
			background-color:darken($rightColumnBg, 30%);
			padding: 5px 5px 2px 5px;
			margin: 0 -1px 0 -1px;
			cursor:hand;cursor:pointer;
			box-shadow:0px -5px 4px -4px darken($rightColumnBg, 40%) inset;
		}
		li:first-child {
			margin-left:6px;
		}
		li:hover {
			background-color:darken($rightColumnBg, 15%);
		}
		li.selected {
			background-color:$rightColumnBg;
			box-shadow:none;
			border:0;
		}
		li.selected:hover {
			background-color:$rightColumnBg;
		}
	}
}