@import "variables";

ul#foldersContainer {
	margin:0;border:0;
	padding: 20px 10px 20px 10px;
	li {
		list-style: none;
	}
}

div.container {
	div.folder {
		border-bottom:1px solid #aaa;
		cursor:pointer;cursor:hand;
		.nameField {
			font-size:120%;
		}
		textarea {
			margin:0;padding:0;border:0;
			background-color:$midColumnBg;
			font-size:120%;
		}
		textarea:focus {
			outline: none;
			width:100%;
		}
	}
	div.task {
		border-bottom:1px solid #aaa;
		cursor:pointer;cursor:hand;
		textarea {
			margin:0;padding:0;border:0;
			background-color:$midColumnBg;
		}
		textarea:focus {
			outline: none;
			width:100%;
		}
	}
}


ul.tasks {
	padding:0 0 20px 15px;
	li.task {
		cursor:pointer;cursor:hand;
		border-bottom:1px solid #bbb;
	}
}