@import "variables";

ul#foldersContainer {
	margin:0;border:0;
	padding: 0px 0px 0px 0px;
	li {
		list-style: none;
		cursor:pointer;cursor:hand;
		padding:0;margin:0;border:0;
		border-left:1px solid #ccc;
	}
	& > li {
		padding-bottom:25px;
		border:0;
	}
	li:last-child {
		border:0;
	}
}

div.container {
	div.folder {
		border-bottom:1px solid #888;
		cursor:pointer;cursor:hand;
		padding-left:15px;
		padding-right:15px;
		padding-top:2px;
		padding-bottom:2px;
		.nameField {
			font-size:120%;
		}
		textarea {
			margin:0;padding:0;border:0;
			background-color:$midColumnBg;
			font-size:120%;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		textarea:focus {
			outline: none;
			width:100%;
		}
		&.selected {
			background-color:lighten($taskHighlightBgColor, 25%);
			border-bottom:1px solid $taskHighlightBgColor;
			textarea {
				background-color:lighten($taskHighlightBgColor, 25%);
			}
		}
		&:hover {
			border-bottom:1px solid $taskHighlightBgColor;
		}
	}

	div.task {
		border:0;
		border-left:1px solid #ccc;
		border-bottom:1px solid #ccc;
		cursor:pointer;cursor:hand;
		padding-left:15px;
		padding-right:15px;
		padding-top:2px;
		padding-bottom:2px;
		textarea {
			margin:0;padding:0;border:0;
			background-color:$midColumnBg;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		textarea:focus {
			outline: none;
			width:100%;
		}
		&:hover {
			border-bottom:1px solid $taskHighlightBgColor;
		}
		&.selected {
			background-color:lighten($taskHighlightBgColor, 25%);
			border-bottom:1px solid $taskHighlightBgColor;
			border-left:1px solid $taskHighlightBgColor;
			textarea {
				background-color:lighten($taskHighlightBgColor, 25%);
			}
		}
		&.checked {
			.nameField {
				color: lighten($fontColor, 50%);
			}
			textarea {
				color: lighten($fontColor, 50%);
			}
		}
	}
}


ul.tasks {
	padding:0 0 0px 25px;
}

.dragging {
	background-color:$taskHighlightBgColor;
	height:23px;
}