@import "variables";

#taskEditView {
	padding:10px;
	box-shadow:5px 0px 4px -4px darken($rightColumnBg, 30%) inset;
}

textarea#notes {
	font-size:80%;
}

.taskEditBottom {
	font-size:90%;
	line-height:20px;
}