$leftColumnWidth: 15%;
$midColumnWidth: 50%;
$rightColumnWidth: 35%;

$headerHeight: 30px;
$footerHeight: 28px;

$headerBg: #373738;
$footerBg: #373738;
$midColumnBg: #e8e8e8;
$leftColumnBg: #cfcfcf;
$rightColumnBg: #cfcfcf;

$columnSpacerWidth:1px;

$taskHighlightBgColor:#4c87ff;

$fontColor: #222;