@import "variables";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, textarea {
	font-family: Verdana, Arial, sans-serif;
	color:$fontColor;
}

a {
	color:#4c87ff;
}
a:hover {
	color:#c1f467;
}

input[type=text],textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	border: 1px solid darken($midColumnBg, 30%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:4px;
}

.btn {
	cursor:pointer;cursor:hand;
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color:#333;
	padding: 5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size:80%;
}
.btn:hover {
	background-image: -webkit-linear-gradient(top, #E6E6E6, #E6E6E6);
	background-image: -o-linear-gradient(top, #E6E6E6, #E6E6E6);
	background-image: linear-gradient(top, #E6E6E6, #E6E6E6);
}
.btn:active {
	background-image: -webkit-linear-gradient(top, #555, #555);
	background-image: -o-linear-gradient(top, #555, #555);
	background-image: linear-gradient(top, #555, #555);
}

#flash_error, #flash_info, #flash_alert, #flash_notice {
	background-color: $taskHighlightBgColor;
	color:#fff;
	text-align:center;
	padding: 10px;
}