@import "variables";

html, body {
	height:100%;
	background-color:$headerBg;
}

header {
	width:100%;
	position:fixed;
	height:$headerHeight;
	background-color:$headerBg;
	#logo {
		width:48%;
		float:left;
		padding: 5px 0 0 10px;
	}
	nav {
		text-align:right;
		float:right;
		width:48%;
		padding: 5px 10px 0 0;
		ul {
			padding:0;margin:0;border:0;
			& li {
				list-style: none;
				display:inline;
			}
		}
	}
}

#errorMsg {
	width:100%;
	position:fixed;
	bottom:$footerHeight;
	height:$footerHeight;
	text-align:center;
	padding:5px;
	background-color:red;
	color:#fff;
}

footer {
	width:100%;
	position:fixed;
	bottom:0;
	height:$footerHeight;
	text-align:center;
	padding:5px;
	background-color:$footerBg;
	color:#fff;
	box-shadow:0px -1px 4px 0px darken($midColumnBg, 40%);
}

#content {
	overflow:auto;
	padding-top:$headerHeight;
	padding-bottom:$footerHeight;
	#leftContainer {
		width:$leftColumnWidth;
		left:0;
		position:fixed;
		background-color:$leftColumnBg;
		margin-top:5px;
		height:100%;
		div:first-child {
			margin:0;
		}
		box-shadow:-5px 0 4px -4px darken($leftColumnBg, 30%) inset;
	}
	#middleContainer {
		background-color:$midColumnBg;
		width:$midColumnWidth;
		margin-left:$leftColumnWidth;
		height:100%;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
		border-right:$columnSpacerWidth solid lighten($midColumnBg, 40%);
		border-left:$columnSpacerWidth solid lighten($midColumnBg, 40%);
		div:first-child {}
	}
	#rightContainer {
		width:$rightColumnWidth;
		position:fixed;
		right:0;
		height:100%;
		background-color:$headerBg;
		div:first-child {
			margin:0;
		}
		#rightContent {
			background-color:$rightColumnBg;
		}
	}
}